<div class="container">
    <div class="">
        <table class="table-bordered">
            <tr>
                <th>Tên</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
            </tr>
            <tr>
                <td>Khang</td>
                <td>Nam</td>
                <td>Bến tre</td>
            </tr>
        </table><br />
        Sau khi có kết quả xét nghiệm, người hiến thận phải gửi cho các đối tượng môi giới kiểm tra. Khi đạt yêu cầu, 
        các đối tượng sẽ liên hệ lại để thực hiện giao dịch. Người môi giới thường ra giá cho người bán thận với khoảng 350 - 450 triệu đồng/quả thận.
    </div>
</div>